.container {
	width: 100%;
	text-align: center;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.container img {
	width: 100px;
	height: auto;
}